           <section class="missao-valores full-screen">
            <div class="missao-valores-container content">
                <section class="missao-item">
                    <div class="titulo-container">
                        <h2>Nossa Missão</h2>
                    </div>
                    <div class="missao-txt-container">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi alias sunt illum optio? Quidem voluptates deserunt impedit quos sunt. Labore id consectetur iusto necessitatibus pariatur sunt possimus modi obcaecati omnis.</p>
                    </div>
                </section>
                <section class="valores-item">
                    <div class="imagem-container">
                        <img src="_imgs/colaboracao.jpg" alt="">
                    </div>
                    <div class="valores-txt-container">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi alias sunt illum optio? Quidem voluptates deserunt impedit quos sunt. Labore id consectetur iusto necessitatibus pariatur sunt possimus modi obcaecati omnis.</p>
                    </div>
                    <div class="valores-titulo-container">
                        <h2>Nossa Vissão</h2>
                    </div>
                </section>
            </div>
        </section>
        <!-- <section class="historia full-screen">
            <h2>Nossa História</h2>
            <div class="historia-container content">
                <div class="historia-item">
                    <h3>Como tudo começou</h3>
                    <p>Ponto Digital é um produto criado pela empresa Agora Vai que foi criada em 1999 pelos sócios e amigos antes de tudo Carlos Tsukamoto e César Sportore.
                    </p>
                    <div class="imagem-historia">

                    </div>
                </div>
                <div class="historia-item-linha-tempo">
                    <p>01
                        <p>
                            <p>02</p>
                </div>
                <div class="historia-item-inverso">
                    <p>Com base em suas próprias experiências profissionais na área de tecnologia os dois sócios tiveram o insight de criar o Ponto Digital para facilitar o gerenciamento das atividades e horários home office.</p>
                    <h3>O insight de criar o Ponto Digital</h3>
                    <div class="imagem-historia">

                    </div>
                </div>
            </div>
        </section>
        <section class="possibilidades full-screen">
            <h2>Como tornar tudo possível</h2>
            <div class="possibilidades-conteudo content">
                <div class="possibilidade-conteudo-item">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, debitis quibusdam iusto tempore rem minus eum quod ratione doloremque amet. Veniam ipsum accusamus cumque neque reiciendis obcaecati unde at sequi? Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Excepturi quis nemo dolorem, magni nostrum doloremque eligendi modi perspiciatis neque totam? Nemo veritatis ex architecto aliquid obcaecati exercitationem aut quo asperiores! Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Dolore beatae doloremque odio reprehenderit distinctio eligendi nihil? Labore laborum, hic deleniti veritatis suscipit ex nesciunt, ad quo magnam nihil nisi provident!
                    </p>
                </div>
                <div class="possibilidade-conteudo-item">
                    <div class="fotos-equipe-container">
                        <div class="team-container">
                            <img src="_imgs/team.jpg" alt="Pessoas trabalhando" />
                        </div>
                        <div class="team-activities-container">
                            <img src="_imgs/trello.jpg" alt="Check List de coisas para fazer">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> -->
        