<section>
    <ul>
        <li><a asp-controller="Dashboard" asp-action="">Adicionar Usu치rio</a></li>
        <li><a asp-controller="Dashboard" asp-action="">Adicionar Coment치rio</a></li>
        <li><a asp-controller="Dashboard" asp-action="">Aprovar Coment치rios</a></li>
        <li><a asp-controller="Dashboard" asp-action="">Listar Coment치rio</a></li>
    </ul>
</section>