@{

    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<section>
    <h1>Adicionar Comentário</h1>
    <form method="POST" action="/Dashboard/RegisterComment">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome">
        </div>
        <div>
            <label for="comment">Comentário:</label>
        </div>
        <div>
            <textarea name="comment" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Adicionar</button>
    </form>
</section>