            section h3 {
                color: #3E3E3E;
                font-size: 1.5em;
                padding-top: 1.0em;
                text-align: center;
            }
            
            .categorias-faq {
                height: 100%;
            }
            
            .categorias-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 100%;
            }
                       
            .categorias-item {
                border:1px solid #00347F;
                border-radius:15px;
                width: 30%;
                height: 35%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .categorias-item h4 {
                color: #00347F;
                font-size:1.5em;
                padding-top: .5em;
                font-weight:normal;
            }
            .categorias-item p a:link {
                font-size:1em;
                color:#3E3E3E;
                text-align:right;
                text-decoration:underline;
            }
            .categorias-item p a:visited {
                font-size:1em;
                color:#3E3E3E;
                text-align:right;
                text-decoration:underline;
            }
                       
            .categoria-container-imagem {
                display:flex;
                justify-content:center;
                align-items:center;
                padding: .5em;
                width: 50%;
                height: 50%;
            }
            .categoria-container-imagem i
            {
                color:#00347F;
                font-size:6em;
            }