<section class="full-screen">
    <form method="POST" action="Usuario/CadastrarUsuario">
        <div>
            <label for="lbl-nome">Nome:</label>
            <input type="text" name="nome" />
        </div>

        <div>
            <label for="lbl-genero">Genero:</label><br/>
            <input type="radio" name="genero" value="masculino" checked="checked">Masculino<br/>
            <input type="radio" name="genero" value="feminino">Feminino<br/>
            <input type="radio" name="genero" value="outro">Outro<br/>
        </div>

        <div>
            <label for="lbl-dataNascimento">Data de nascimento:</label>
            <input type="date" name="dataNascimento" />
        </div>

        <div>
            <label for="lbl-endereco">Endereço:</label>
            <input type="text" name="endereco" />
        </div>

        <div>
            <label for="lbl-telefone">Telefone:</label>
            <input type="tel" name="telefone" />
        </div>

        <div>
            <select>
                <option value="" disabled="disabled" selected="selected">Tipo de Conta</option>
                <option name="permissao" value="adm">Administrador</option>
                <option name="permissao" value="usr">Usuário</option>
            </select>
        </div>

        <div>
            <label for="lbl-email">E-mail:</label>
            <input type="mail" name="eMail" />
        </div>



        <div>
            <label for="lbl-senha">Senha:</label>
            <input type="password" name="senha" />
        </div>

        <button type="submit">Cadastrar</button>
    </form>
</section>