/*      CSS     */

/**
*   CSS RESET
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

ul>li a:link {
    color: #000;
    text-decoration: none;
}

ul>li a:visited {
    color: #000;
    text-decoration: none;
}

section {
    padding-bottom:8em;

}

section>h2 {
    color: #3E3E3E;
    font-size: 3em;
    padding-top: 1.5em;
    text-align: center;
}

/* FIM CSS RESET */

.banner {
    background: #EEF2F3;
    width: 100%;
    position:relative;
}

.banner-conteudo {
    display: flex;
    justify-content:center;
    align-items:center;
    height:100%;
}
.banner-conteudo-item-esquerdo {
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    width: 50%;
}

.banner-conteudo-item-esquerdo h1 {
    z-index:1;
    font-size: 4em;
    padding:.5em;
}

.banner-conteudo-item-esquerdo p {
    z-index:1;
    font-size: 2em;
    padding:.5em;
    text-align:justify;
    width:80%;
}

.banner-conteudo-item-direito {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    width: 50%;
}

.banner-imagem-container {
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.banner-imagem-container>img {
    z-index:2;
    height: 70%;
    width: 90%;
}
.banner-topo {
    background:#EEF2F3  ;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%
}
.wave
{
    background:#00347F;
    height:100%;
    z-index:0;
    position: absolute;
    top:0;
    right:0;
    width:50%;
}
.wave::before
{
    background:#EEF2F3;
    border-radius:100% 100%;
    content:"";
    display:block;
    position: absolute;
    top:4%;
    left:-25%;
    width:340px;
    height:48.2%;
    

}
.wave::after
{
    background:#00347F;
    border-radius:100% 80%;
    content:"";
    display:block;
    position: absolute;
    bottom:0%;
    left:-23%;
    width:340px;
    height:48.2%;
    

}
.botao-padrao {
    z-index:1;
    background: #FE4E4E;
    border: #FE4E4E;
    border-radius: 16px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bolder;
    height: 50px;
    padding: .5em;
    width: 130px;
}

.container {
    width: 100%;
}

.content {
    width: 90%;
    margin: auto;
}

.devices-container-monitor {
    position: absolute;
    top: -20%;
    right: -1%;
    height: 550px;
    width: 650px;
}

.devices-container-monitor>img {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 3.3%;
}

.devices-container-mobile {
    position: absolute;
    top: 25%;
    height: 340px;
    width: 370px;
}

.devices-container-mobile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: -3.5%;
}

.full-screen {
    height: 100vh;
    width: 100vw;
}

.logo {
    padding:1em;
    width: 10%;
}
.menu-acessibilidade{
    background:#00347F; 
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
}
.menu-acessibilidade ul {
    display: flex;
    justify-content: space-around;
    padding: .5em;
}

.menu-navegacao {
    z-index: 2;
    margin: auto;
    padding: 2em;
    width: 100%;
}

.menu-navegacao ul {
    color: #000;
    display: flex;
    font-weight: bolder;
    font-size: 1.5em;
    justify-content: space-between;
    width:100%;
}

.menu-navegacao ul li .autenticacao {
    color: #FFF;
}

.planos {
    background: #EEF2F3;
}

.planos-container {
    /* background:coral; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top:4em;
    padding-bottom:4em;
}

.planos-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    width: 20%;
    height: 375px;
    padding: 2em;
}

.planos-item p {
    padding-top: 1.2em;
}

.planos-item h3 {
    font-size: 2.5em;
}

.basic {
    border: #2C464B;
    border-radius: 16px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bolder;
    height: 50px;
    margin-top: 2em;
    padding: .5em;
    width: 130px;
    background: #2C464B;
}

.team {
    border: #3B3222;
    border-radius: 16px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bolder;
    height: 50px;
    margin-top: 2em;
    padding: .5em;
    width: 130px;
    background: #3B3222;
}

.professional {
    background: #3B2020;
    border: #3B2020;
    border-radius: 16px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bolder;
    height: 50px;
    margin-top: 2em;
    padding: .5em;
    width: 130px;
}

.enterprise {
    border: #2E4052;
    border-radius: 16px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bolder;
    height: 50px;
    margin-top: 2em;
    padding: .5em;
    width: 130px;
    background: #2E4052;
}

.oferta {
    text-align: center;
    font-size: 2.1em;
    padding-bottom: 3em;
}

.preco {
    font-size: 4em;
}

.mensal {
    font-size: 1.5em;
}

.quantidade-funcionarios {
    font-size: 1.4em;
}

.planos-item .mensal {
    text-align: center;
}

.add-comentario {
    display: flex;
    flex-direction: column;
}

.comentarios {
    display: flex;
    flex-direction: column;
}

.comentarios-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 4em; 
    padding-bottom:4em;

}

.comentarios h3 {
    color: #3E3E3E;
    font-size: 2em;
    text-align: center;
    padding-top:1.5em;
}

.frm-add-comentario{
    display:flex;
    width: 10%;
    height: 10%;
    margin: auto;
}
.comentarios-item {
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    position: relative;
    width: 18%;
}

.comentarios-item p {
    margin-top: 2em;
    text-align: justify;
}

.comentarios-item .foto-perfil {
    display: block;
    background: #3E3E3E;
    border: 1px solid #3E3E3E;
    border-radius: 50%;
    position: relative;
    height: 100px;
    width: 100px;
}

.comentarios-item .foto-perfil-logo-empresa {
    background: #FFF;
    border: 1px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 21%;
    right: 30%;
    height: 30px;
    width: 30px;
}

.recursos {
    background: url(../_imgs/smartphone.png) no-repeat,rgba(0,52,27,.5);
    background-size: 100%;
    color: #FFF;
}
.recursos-mascara {
    background: rgba(41, 171, 226, .5);
    width: 100%;
    height:100%;
}

.recursos-container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.recursos-container-flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    padding-left: 4.5em;
}

.item-recurso {
    text-align: left;
}

.recursos-container-flex-item h3 {
    font-size: 2em;
}

.recursos-container-flex-item p {
    text-align: justify;
    font-size: 1.5em;
}

.recursos h2 {
    color: #FFF;
}
.vantagens-conteudo {
    display: flex;
    flex-direction: column;
    padding-left: 5.5em;
    width: 100%;
    padding-left:2em;
}

.vantagens-conteudo h3 {
    font-size: 2.5em;
    padding:2em;
}

.vantagens-conteudo p {
    font-size: 2em;
    padding:2em;

}
.vantagens-conteudo .botao-padrao
{
    margin:2.5em;
}

.vantagens-icones-container {
    display: flex;
    justify-content: space-around;
    padding:2em;
}

.vantagens-icones-container .icones-item {
    align-items: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
    display: flex;
    height: 150px;
    justify-content: center;
    margin-top: 4em;
    padding: 1em;
    width: 150px;
}

.vantagens-conteudo-inferior {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

.vantagens-conteudo-inferior .detalhe-triangulo {
    background: url(../_imgs/background-triangulo.png) no-repeat 100%;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

footer {
    color: #3E3E3E;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    height: 300px;
}

.footer-box-inferior {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.footer-box-superior {
    display: flex;
    width: 100%;
    height: 100%;
}

.footer-box-superior .logo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.logo-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 2.8em;
    width: 100%;
}

.logo-footer img {
    padding-top: 1em;
    height: 90px;
    width: 80px;
}

.logo-midias-container {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2em;
    padding-bottom: 1em;
    width: 100%;
    height: 100%;
}

.logo-midias {
    /* padding-right:1em; */
    width: 70px;
    height: 70px;
}

#menu-bar
{
    display:none;
}

.footer-box-superior ul {
    width: 20%;
    padding: 1em;
}

.footer-box-superior ul li {
    font-size: 1.5em;
}

.footer-box-superior ul li a>span {
    color: #3E3E3E;
    font-weight: bold;
}

.footer-box-inferior {
    border-top: 1px solid #3E3E3E;
    display: flex;
    padding: 1em;
}

.footer-box-inferior p {
    padding-right: 1.6em;
}


/*      Media queries  */

@media screen and (max-width:1366px)
{

}

@media screen and  (max-width:768px)
{
    .comentarios-container {
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        align-items: center;
        width: 100%;
        padding-top: 4em; 
        padding-bottom:4em;
    }

    .comentarios-item {
        background: #FFF;
        border: 1px solid #FFF;
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2em;
        margin-bottom:5em;
        position: relative;
        width: 40%;
    }
    .logo
    {
        display:none;
    }
    .menu-navegacao i
    {
        color:#000;
        display:block;
        font-size:10em;
        position: absolute;
        right:50%;
        top:0;  
    }
    .menu-navegacao 
    {
        position: relative;
        display:none;
        background:lightcoral;
        margin: auto;
        padding:0;
        width: 100%;
    }
    .menu-navegacao ul 
    {
        background:lightblue;
        color: #000;
        display: flex;
        align-items:center;
        flex-direction:column;
        font-weight: bolder;
        font-size: 1.2em;
        width:100%;
    }

    .planos-container {
        /* background:coral; */
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        width: 100%;
        padding-top:4em;
        padding-bottom:4em;
    }
    
    .planos-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        border-radius: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
        width: 40%;
        height: 375px;
        padding: 2em;
        margin-bottom:4em;
    }

   


}
@media screen and (max-width:360px)
{

}