*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container-login
{
    display:flex;
    align-items:center;
    box-shadow:5px 15px 10px rgba(0,0,0,.3);
    position: absolute;
    top:20%;
    left:20%;
    height:60%;
    margin:auto;
    width:60%;
    padding-left:2em;
}
.container-item
{
    
    background:#FFFFFF;
    width:45%;
    height:60%;
}
.container-item-2
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    right:4%;
    background:#00347F;
    width:50%;
    height:100%;
    transform:skewX(-10deg);
}
.container-item-2 h2
{
    position: relative;
    top:-5%;
    text-align:center;
    color:#000;
}

.form-container
{
    transform:skewX(10deg);
    height:50%;
}
#form-login
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 100%;
}
#form-login #btn-login
{
    position: relative;
    top:60%;
    left:-115%;   
}
.form-group
{
    padding:.5em;
}
.flex
{
    display:flex;
}
.full-screen
{
    background:#F5F5F5;
    height:100vh;
    width:100vw;
}

.header-login
{
    text-align:center;
    font-size:1.5em;
    margin-top:25%;
    color:#000000;
}
.header-login span
{
    font-weight:bolder;
}

.link-auxiliar-cadastro
{
    font-size:.8em;
    position: absolute;
    top:100%;
    left:50%;
}
.link-auxiliar-cadastro:link
{
    color:#000000;
}
.link-auxiliar-cadastro:visited
{
    color:#000000;

}

.link-auxiliar-senha
{
    font-size:.8em;
    position: absolute;
    top:122%;
    left:50%;
}

.link-auxiliar-senha:link
{
    color:#000000;
}

