<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/_css/layout.css" />
    <link rel="stylesheet" href="/_css/sobreNos.css" /">
    <link rel="stylesheet" href="/_css/faq.css" /">
    <link rel="stylesheet" href="/_css/contatos.css" /">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Ponto Digital</title>
</head>
<body>
    <main>
        <section class="banner">
                <nav class="menu-acessibilidade content">
                    <ul>
                        <li>Ir para o conteúdo</li>
                        <li>Ir para o menu</li>
                        <li>A+ A-</li>
                        <li>Contraste</li>
                    </ul>
                </nav>
                <!--        Fim do menu de acessibilidade   -->
                <div class="banner-topo content">
                    <div class="logo">
                        <img src="~/_imgs/logo-pontoDigital.png" alt="Imagem representativa do planeta terra em cor azul com uma imagem em cor amarela representando o logo do produto Ponto Digital">
                    </div>
                    <i id="menu-bar" class="fas fa-bars"></i>
                    <nav class="menu-navegacao">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Sobre" asp-action="Index">Sobre nós</a></li>
                            <li><a asp-controller="Faq" asp-action="Index">Faq</a></li>
                            <li><a asp-controller="Contatos" asp-action="Index">Contatos</a></li>
                            <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                            <li><a asp-controller="Login" asp-action="Login" class="autenticacao">Login</a></li>
                            <li><a asp-controller="Usuario" asp-action="Index" class="autenticacao">Sign in</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Fim do topo do banner com logo e menu de navegacao -->
                <div class="banner-conteudo content">
                    <div class="banner-conteudo-item-esquerdo">
                        <h1>Ponto Digital</h1>
                        <p>Gerencie a jornada de trabalho dos seus times de forma fácil e organizada.</p>
                        <button class="botao-padrao">Saiba mais</button>
                    </div>
                    <!-- Lado esquerdo de conteúdo do banner -->
                    <div class="banner-conteudo-item-direito">
                        <div class="banner-imagem-container">
                            <img src="~/_imgs/team-banner.png" alt="Desenho de uma equipe de pessoas de um escritório comemorando">
                        </div>
                    </div>
                    <!-- Lado Direito do conteúdo do banner -->
                </div>
                <!-- Fim do conteúdo do banner -->
                <div class="wave">
                  
                </div>
        </section>
        <!--        Fim da seção banner-topo-->
        
        <!-- Renderiza o conteúdo que não é template nas páginas    -->
        @RenderBody()
        <footer class="container">
                <div class="footer-box-superior">
                    <ul>
                        <li><a href="#"><span>Sobre Nós</span></a></li>
                        <li><a href="#">Missão</a></li>
                        <li><a href="#">Valores</a></li>
                        <li><a href="#">Equipe</a></li>
                    </ul>
                    <ul>
                        <li><a href="#"><span>Blog</span></a></li>
                        <li><a href="#">Tecnologia</a></li>
                        <li><a href="#">Negócios</a></li>
                    </ul>
                    <ul>
                        <li><a href="#"><span>Produto</span></a></li>
                        <li><a href="#">Vantagens</a></li>
                        <li><a href="#">Recursos</a></li>
                        <li><a href="#">Planos</a></li>
                    </ul>
                    <div class="logo-container">
                        <div class="logo-footer">
                            <img src="~/_imgs/logo-pontoDigital.png" alt="Imagem representativa do planeta terra em cor azul com uma imagem em cor amarela representando o logo do produto Ponto Digital">
                        </div>
                        <div class="logo-midias-container">
                            <div class="logo-midias">
                                <img src="~/_imgs/facebook-logo.png" alt="Icone do logo do Facebook" />
                            </div>
                            <div class=logo-midias>
                                <img src="~/_imgs/instagram-logo.png" alt="Icone do logo do Instagram" />
                            </div>
                            <div class=logo-midias>
                                <img src="~/_imgs/contato-logo.png" alt="Icone de um telefone para contato">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-box-inferior">
                    <address>Alameda Barão de Limeira, 539</address>
                    <p>Copyright &copy 2019 - Agora Vai</p>
                </div>
            </footer>
    </main>
    <!--        Fim da seção main      -->
</body>
</html>