            <section class="vantagens full-screen">
                <h2>Vantagens do Ponto Digital no seu dia-a-dia</h2>
            <div class="vantagens-icones-container content">
                <div class="icones-item">
                    <img src="_imgs/localizacao.png" alt="Icone que representa a localização de um local">
                </div>
                <div class="icones-item">
                    <img src="_imgs/lupa.png" alt="Icone de uma lupa em preto e branco">
                </div>
                <div class="icones-item">
                    <img src="_imgs/contrato.png" alt="Icone preto e branco representativo de um contrato">
                </div>
                <div class="icones-item">
                    <img src="_imgs/folhaDePonto.png" alt="Icone representativo de tarefas terminadas">
                </div>
            </div>
            <div class="vantagens-conteudo content">
                <h3>Uma ferramenta diversas vantagens</h3>
                <p>Todas as facilidades e vantagens em<br /> uma única ferramenta para<br/> gerenciamento de ponto.</p>
                <button class="botao-padrao">Teste Grátis</button>
            </div>
            <div class="vantagens-conteudo-inferior content">
                <div class="detalhe-triangulo content">
                    <div class="devices-container-monitor">
                        <img src="_imgs/deviceMonitor.png" alt="Desenho de um Monitor widescreen ">
                    </div>
                    <div class="devices-container-mobile">
                        <img src="_imgs/deviceMobile.png" alt="Desenho de um Monitor widescreen ">
                    </div>
                </div>
            </div>
            </section>
            <!-- Fim da seção de vantagens  -->
            <section class="recursos full-screen">
                <h2>Todos os recursos e muito mais</h2>
                    <div class="recursos-container-flex">
                        <div class="recursos-container-flex-item">
                            <div class="item-recurso">
                                <h3>Registro de Ponto</h3>
                                <p>Registro de ponto de forma simples.</p>
                            </div>
                            <div class="item-recurso">
                                <h3>Gerenciamento de Squads</h3>
                                <p>Faça o gerenciamento do tempo de seus squads com clareza.</p>
                            </div>
                            <div class="item-recurso">
                                <h3>Emissão de Relatórios</h3>
                                <p>Realize emissão de relatórios individuais e em equipes.</p>
                            </div>
                        </div>
                        <div class="recursos-container-flex-item">
                            <div class="item-recurso">
                                <h3>Geolocalização</h3>
                                <p>Saiba a localização de trabalho dos seus colaboradores.</p>
                            </div>
                            <div class="item-recurso">
                                <h3>Histórico</h3>
                                <p>Acesse o histório dos pontos já marcados.</p>
                            </div>
                            <div class="item-recurso">
                                <h3>Notificação</h3>
                                <p>Notificação entre colaboradoes e gestores em real-time.</p>
                            </div>
                        </div>
                </div>
            </section>
            <!-- Fim da secao de recurso    -->
            <section class="planos">
                <h2>Escolha o plano perfeito para você</h2>
                <div class="planos-container content">
                    <div class="planos-item">
                        <h3>Basic</h3>
                        <p><strong>R$</strong><br />
                            <span class="preco">29,90</span></p>
                        <p><span class="mensal">/mês</span></p>
                        <p class="quantidade-funcionarios">02 a 05 funcionários</p>
                        <button class="basic">Assinar</button>
                    </div>
                    <div class="planos-item">
                        <h3>Team</h3>
                        <p>
                            <strong>R$</strong><br />
                            <span class="preco">149,90</span>
                        </p>
                        <p><span class="mensal">/mês</span></p>
                        <p class="quantidade-funcionarios">06 a 49 funcionários</p>
                        <button class="team">Assinar</button>
                    </div>
                    <div class="planos-item">
                        <h3>Professional</h3>
                        <p>
                            <strong>R$</strong><br />
                            <span class="preco">300,00</span>
                        </p>
                        <p><span class="mensal">/mês</span></p>
                        <p class="quantidade-funcionarios">50 a 300 funcionários</p>
                        <button class="professional">Assinar</button>
                    </div>
                <div class="planos-item">
                    <h3>Enterprise</h3>
                    <p><strong class="oferta">Super Oferta</strong></p>
                    <p class="quantidade-funcionarios">+ 300 funcionários</p>
                    <button class="enterprise">Assinar</button>
                </div>
                </div>
            </section>
            <!-- Fim da seçao de planos -->
            <section class="comentarios">
                <h2>Veja a opnião de nossos clientes</h2>
                <div class="comentarios-container content">
                    <div class="comentarios-item">
                        <div class="foto-perfil">

                        </div>
                        <div class="foto-perfil-logo-empresa">

                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere consequatur optio aspernatur modi deleniti blanditiis, odio inventore delectus porro, ipsam laboriosam vero totam necessitatibus quae, officia sit eius neque fuga.</p>
                        <p>Diana Prince, DianaP</p>
                    </div>
                    <div class="comentarios-item">
                        <div class="foto-perfil">

                        </div>
                        <div class="foto-perfil-logo-empresa">

                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere consequatur optio aspernatur modi deleniti blanditiis, odio inventore delectus porro, ipsam laboriosam vero totam necessitatibus quae, officia sit eius neque fuga.</p>
                        <p>Bruce Wayne, BWayne</p>
                    </div>
                    <div class="comentarios-item">
                        <div class="foto-perfil">

                        </div>
                        <div class="foto-perfil-logo-empresa">

                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere consequatur optio aspernatur modi deleniti blanditiis, odio inventore delectus porro, ipsam laboriosam vero totam necessitatibus quae, officia sit eius neque fuga.</p>
                        <p>Peter Parker, Parker</p>
                    </div>
                </div>
                <h3>Deixe seu comentário</h3>
                <form class="frm-add-comentario" method="GET"  action="/Login/Login">
                    <button type="submit" class="botao-padrao">Adicionar</button>
                </form>
            </section>
            <!-- Fim da Seção Comentários   -->
            